*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

.cent_serch_box { display: inline-block; width: 100%; padding: 0 35px; margin-bottom: 20px; }
@media screen and (max-width: 449px) and (min-width: 0) { .cent_serch_box { padding: 0 20px; margin-bottom: 10px; } }

.cent_box { display: inline-block; width: 100%; float: left; padding: 0 35px; text-align: left; *zoom: 1; }
.cent_box:after { display: table; content: ""; line-height: 0; clear: both; }
@media screen and (max-width: 449px) and (min-width: 0) { .cent_box { width: 100%; padding: 0 20px; } }
@media screen and (max-width: 449px) and (min-width: 0) { .cent_box.btn_cent { text-align: center; } }
.cent_box.cent_box35 { width: 35%; }
@media screen and (max-width: 449px) and (min-width: 0) { .cent_box.cent_box35 { width: 100%; } }
.cent_box.cent_box65 { width: 65%; }
@media screen and (max-width: 449px) and (min-width: 0) { .cent_box.cent_box65 { width: 100%; } }
.cent_box.cent_box50 { width: 50%; }
@media screen and (max-width: 449px) and (min-width: 0) { .cent_box.cent_box50 { width: 100%; } }

.box70 { display: inline-block; width: 70%; float: right; }

.all_box, .team_pic_box, .team_type_box { display: inline-block; width: 100%; }
.all_box.w_cent, .team_pic_box.w_cent, .team_type_box.w_cent { text-align: center; }
.all_box.box50, .team_pic_box.box50, .team_type_box.box50 { display: inline-block; width: 50%; }
@media screen and (max-width: 449px) and (min-width: 0) { .all_box.box50, .team_pic_box.box50, .team_type_box.box50 { width: 100%; } }
@media screen and (max-width: 449px) and (min-width: 0) { .all_box.m_cent, .team_pic_box.m_cent, .team_type_box.m_cent { text-align: center; }
  .all_box .team_pic_box, .team_pic_box .team_pic_box, .team_type_box .team_pic_box { width: 30%; float: left; } }
@media screen and (max-width: 449px) and (min-width: 0) and (max-width: 449px) and (min-width: 0) { .all_box .team_pic_box, .team_pic_box .team_pic_box, .team_type_box .team_pic_box { width: 20%; } }
@media screen and (max-width: 449px) and (min-width: 0) { .all_box .team_type_box, .team_pic_box .team_type_box, .team_type_box .team_type_box { width: 65%; float: right; } }
@media screen and (max-width: 449px) and (min-width: 0) and (max-width: 449px) and (min-width: 0) { .all_box .team_type_box, .team_pic_box .team_type_box, .team_type_box .team_type_box { width: 80%; padding-left: 15px; } }

.team_pic_box, .team_type_box { margin-top: 20px; }
@media screen and (max-width: 449px) and (min-width: 0) { .team_pic_box, .team_type_box { margin-top: 0; } }

.team_pic_box { text-align: center; }
@media screen and (max-width: 449px) and (min-width: 0) { .team_pic_box { text-align: left; } }
.team_pic_box img { display: inline-block; width: 100%; max-width: 95px; }

.order_left { float: left; }

.order_right { float: right; }

@media screen and (max-width: 449px) and (min-width: 0) { .m_order_no { float: none; } }

.w_not_show { display: none; }
@media screen and (max-width: 449px) and (min-width: 0) { .w_not_show { display: inline-block; } }

.m_not_show { display: inline-block; }
@media screen and (max-width: 449px) and (min-width: 0) { .m_not_show { display: none; } }

.in_btn_r { float: right; }
@media screen and (max-width: 449px) and (min-width: 0) { .in_btn_r { float: none; } }

.m_no_space { padding: 0 !important; margin: 0; }

.magTop15 { margin-top: 15px; }

.magD30 { margin-bottom: 30px; }

.magTop45 { margin-top: 45px; }
@media screen and (max-width: 449px) and (min-width: 0) { .magTop45 { margin-top: 0; } }

.magD15 { margin-bottom: 15px; }

.magRight20 { margin-right: 20px; }
@media screen and (max-width: 449px) and (min-width: 0) { .magRight20 { margin-right: 0; } }

.magRight10 { margin-right: 10px; }
@media screen and (max-width: 449px) and (min-width: 0) { .magRight10 { margin-right: 0; } }

.magL23 { margin-left: 23px; }

.padSID35 { padding: 0 35px; }
@media screen and (max-width: 449px) and (min-width: 0) { .padSID35 { padding: 0; } }

.padTB15 { padding: 15px 0; }

.m_padB15 { padding: 15px 0; }
@media screen and (max-width: 449px) and (min-width: 0) { .m_padB15 { padding: 0 0 15px 0; } }

.padT15 { padding-top: 15px; }

.padTOP30 { padding: 30px 0; }

.m_magTOP30 { margin-top: 0; }
@media screen and (max-width: 449px) and (min-width: 0) { .m_magTOP30 { margin-top: 30px; } }

.m_magTD30 { margin: 0; }
@media screen and (max-width: 449px) and (min-width: 0) { .m_magTD30 { margin: 30px 0; } }

.m_magTD20 { margin: 0; }
@media screen and (max-width: 449px) and (min-width: 0) { .m_magTD20 { margin: 20px 0 15px 0; } }

.m_magTop15 { margin-top: 0; }
@media screen and (max-width: 449px) and (min-width: 0) { .m_magTop15 { margin-top: 15px; } }

@media screen and (max-width: 449px) and (min-width: 0) { .m_magTop45 { margin-top: 45px; } }

.m_padSID20 { padding: 0; }
@media screen and (max-width: 449px) and (min-width: 0) { .m_padSID20 { padding: 0 20px; } }

.img_op { opacity: .3; }
