@charset "UTF-8";
*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

a { display: inline-block; cursor: pointer; text-decoration: none; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }

.link_home { display: inline-block; float: left; width: 100%; max-width: 188px; cursor: pointer; text-decoration: none; border: 0; }
@media screen and (max-width: 449px) and (min-width: 0) { .link_home { display: none; } }
.link_home img { display: inline-block; width: 100%; max-width: 188px; margin-top: 8px; }

.m_link_home { display: none; }
@media screen and (max-width: 449px) and (min-width: 0) { .m_link_home { display: inline-block; float: left; width: 100%; max-width: 188px; cursor: pointer; text-decoration: none; border: 0; }
  .m_link_home img { display: inline-block; width: 100%; max-width: 188px; margin-top: 8px; } }

.link_CreatAcc { font-size: 1rem; font-weight: 400; color: #0095d9; margin-top: -2px; }

.link_little { font-size: .9rem; font-weight: 400; color: #0095d9; }
@media screen and (max-width: 449px) and (min-width: 0) { .link_little { font-size: .9rem; } }

.link_login { padding: 8px 14px; background-color: white; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; color: #2f31e5; font-size: .9rem; font-weight: 500; }
.link_login:hover { background-color: #2f31e5; color: white; }

.link_blueLine, .link_brightBlue, .link_gray, .link_gray2, .link_deepBlue, .link_brightBlue2 { padding: 12px 20px; font-size: .9rem; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; }
.link_blueLine.have_mark:after, .link_brightBlue.have_mark:after, .link_gray.have_mark:after, .link_gray2.have_mark:after, .link_deepBlue.have_mark:after, .link_brightBlue2.have_mark:after { display: inline-block; content: '\e906'; font-family: 'icon'; font-size: .9rem; margin-left: 3px; }
@media screen and (max-width: 449px) and (min-width: 0) { .link_blueLine, .link_brightBlue, .link_gray, .link_gray2, .link_deepBlue, .link_brightBlue2 { width: 90%; text-align: center; padding: 15px 16px; } }

.link_deepBlue { padding: 12px 20px; font-size: .9rem; color: #092058; border: 1px solid #092058; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; }
@media screen and (max-width: 449px) and (min-width: 0) { .link_deepBlue { width: 90%; } }

.link_deepBlue2 { padding: 12px 20px; font-size: .9rem; color: white; background-color: #092058; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; }

.line_brightBlue { padding: 12px 20px; font-size: .9rem; color: #2f31e5; border: 1px solid #2f31e5; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; }
@media screen and (max-width: 449px) and (min-width: 0) { .line_brightBlue { width: 90%; } }

.link_blueLine { color: #2f31e5; background-color: white; border: 1px solid #2f31e5; }
.link_blueLine:hover { color: white; background-color: #2f31e5; opacity: .9; }

.link_brightBlue { color: white; background-color: #2f31e5; border: 1px solid #2f31e5; }
.link_brightBlue:hover { color: white; background-color: #2f31e5; opacity: .8; }

.link_brightBlue2 { color: white; background-color: #2f31e5; border: 1px solid #2f31e5; }
.link_brightBlue2:hover { background-color: white; color: #2f31e5; border: 1px solid #2f31e5; }

.link_gray { cursor: not-allowed; color: white; background-color: rgba(165, 165, 165, 0.5); }

.link_gray2 { color: white; background-color: rgba(165, 165, 165, 0.5); -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
.link_gray2:hover { background-color: #092058; }

.web_menu { color: #092058; font-size: .9rem; font-weight: 400; line-height: 37px; }
.web_menu.web_a { text-decoration: underline; color: #2f31e5; }
.web_menu:hover { text-decoration: underline; color: #2f31e5; }
.web_menu:nth-child(3) { margin-right: 25px; }
.web_menu:nth-child(3):after { display: none; }
.web_menu.menu_gray { cursor: auto; color: #a5a5a5; }
.web_menu.menu_gray:hover { text-decoration: none; }
.web_menu:after { display: inline-block; content: '・'; margin: 0 10px; }

.footer_menu { color: #092058; font-size: .9rem; font-weight: 300; }
@media screen and (max-width: 449px) and (min-width: 0) { .footer_menu { display: none; } }
.footer_menu:after { display: inline-block; content: '|'; margin: 0 10px; color: #092058; }
.footer_menu:hover { color: #2f31e5; }
.footer_menu:last-child:after { display: none; }

.team_title { display: inline-block; width: 80%; color: #092058; font-size: 1.2rem; font-weight: 700; padding-bottom: 20px; line-height: 25px; }
.team_title.t-under { text-decoration: underline; }
@media screen and (max-width: 449px) and (min-width: 0) { .team_title { width: 80%; line-height: 28px; } }
.team_title.title_link_icon:hover { color: #2f31e5; }
.team_title.title_link_icon:before { content: '\f0c1'; font-family: 'icon'; font-size: 1rem; margin-right: 10px; line-height: 27px; color: #858ea6; }
.team_title.no_pb10 { padding-bottom: 0; }

.no_event { color: #a5a5a5; pointer-events: none; cursor: default; }

.m_title_type { font-size: 1rem; font-weight: 700; color: #092058; float: left; }

.m_top_type { font-size: 1rem; font-weight: 400; color: #838fab; }

.link_icon { width: 35px; height: 35px; background-color: transparent; border: 1px solid #2f31e5; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; color: #2f31e5; font-size: 1rem; line-height: 32px; float: right; text-align: center; margin-top: -5px; }
@media screen and (max-width: 449px) and (min-width: 0) { .link_icon { width: 40px; height: 40px; line-height: 38px; font-size: 1.2rem; } }
.link_icon.line_admin { margin-top: 1px !important; }
.link_icon.link_iocn_gray { color: #a5a5a5; border: 1px solid #a5a5a5; }
.link_icon.link_icon_save { width: auto; height: auto; line-height: 35px; padding: 0 15px; font-weight: 600; font-size: .9rem; }
.link_icon.link_icon_search { width: 40px; height: 40px; margin-top: 0; font-size: 1.2rem; line-height: 38px; }

.link_icon2 { width: 35px; height: 35px; background-color: transparent; border: 1px solid #2f31e5; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; color: #2f31e5; font-size: 1rem; line-height: 32px; float: right; text-align: center; margin-top: -5px; }

.no_event_icon { color: #a5a5a5; border: 1px solid #a5a5a5; pointer-events: none; cursor: default; }

button { display: inline-block; outline: 0; cursor: pointer; border: 0; }

.btn_status_box { width: 50px; height: 40px; border: 0; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; line-height: 42px; text-align: center; background-color: transparent; font-size: 1.2rem; float: right; }
.btn_status_box.w_50 { width: 50px; line-height: 0; }
.btn_status_box.c_blue2 { color: #092058; }
.btn_status_box.c_green { color: #6db53a; }
.btn_status_box.c_gray { color: #a5a5a5; }
.btn_status_box.c_gray.member:hover { color: #ff9800; }
.btn_status_box.c_lb { color: #2f31e5; }
.btn_status_box.c_lb.member:hover { color: #ff9800; }
.btn_status_box.c_blue { color: rgba(9, 32, 88, 0.8); }
.btn_status_box.c_blue_po { position: absolute; bottom: 0; right: 0; }

.btn_add { width: 40px; height: 40px; text-align: center; background-color: transparent; color: #2f31e5; font-size: 2.2rem; padding: 0; }

.no_event_btn { color: #a5a5a5; pointer-events: none; cursor: default; }

.btn_done { display: inline-block; font-size: .9rem; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; background-color: #092058; color: white; padding: 0 15px; float: right; cursor: pointer; border: 0; line-height: 35px; }
@media screen and (max-width: 449px) and (min-width: 0) { .btn_done { font-size: .9rem; } }
.btn_done.btn_close_g { background-color: #a5a5a5; }
.btn_done.btn_done_qr { padding: 0 15px; height: 30px; line-height: 30px; }
.btn_done.btn_done_ser { height: 42px; line-height: 42px; }

.bread { display: inline-block; width: 100%; text-align: left; padding: 10px 35px 0 35px; }
@media screen and (max-width: 449px) and (min-width: 0) { .bread { padding: 0 20px 10px 20px; } }
.bread .bread_box { display: inline-block; }
.bread .bread_box:after { display: inline-block; content: '\e906'; font-family: 'icon'; margin-top: 2px; margin-left: 2px; color: #a5a5a5; }
.bread .bread_box:last-child:after { display: none; }
.bread .bread_box .bread_link { display: inline-block; font-size: 13px; color: #a5a5a5; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; text-decoration: none; }
.bread .bread_box .bread_link:hover, .bread .bread_box .bread_link:active { color: #092058; }

.bread2 { display: inline-block; width: 100%; text-align: left; padding: 10px 32px; }
@media screen and (max-width: 449px) and (min-width: 0) { .bread2 { padding: 10px; } }
.bread2 .bread_box2 { display: inline-block; }
.bread2 .bread_box2:after { display: inline-block; content: '\e906'; font-family: 'icon'; margin-top: 2px; margin-left: 2px; color: #4b4c47; }
.bread2 .bread_box2:last-child:after { display: none; }
.bread2 .bread_box2 .bread_link2 { display: inline-block; font-size: 13px; color: #4b4c47; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; text-decoration: none; }
.bread2 .bread_box2 .bread_link2:hover, .bread2 .bread_box2 .bread_link2:active { color: #2f31e5; }
