@charset "UTF-8";
*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

html { height: 100%; margin: 0; padding: 0; }

body { position: relative; display: inline-block; width: 100%; margin: 0; padding: 0; color: #5a5a5a; font-size: 12px; text-align: center; font-family: 'Roboto', sans-serif, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif; }
body.bg_color { /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5eb8fe+0,63d9e3+100 */ background: #5eb8fe; /* Old browsers */ background: -moz-linear-gradient(top, #5eb8fe 0%, #63d9e3 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, #5eb8fe 0%, #63d9e3 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, #5eb8fe 0%, #63d9e3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5eb8fe', endColorstr='#63d9e3',GradientType=0 ); /* IE6-9 */ }
body.bg_color_p { /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5eb8fe+0,63d9e3+100 */ background: #c5e3f8; /* Old browsers */ background: -moz-linear-gradient(top, rgba(94, 184, 254, 0.5) 0%, rgba(99, 217, 227, 0.5) 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, rgba(94, 184, 254, 0.5) 0%, rgba(99, 217, 227, 0.5) 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, rgba(94, 184, 254, 0.5) 0%, rgba(99, 217, 227, 0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5e3f8', endColorstr='#c7ebf2',GradientType=0 ); /* IE6-9 */ }

.page_boxs { display: inline-block; width: 100%; max-width: 1100px; margin: 0 auto; background: url("../img/Oval01.png") left 40% no-repeat, url("../img/Oval02.png") right 50% no-repeat, url("../img/Oval03.png") 3% 110% no-repeat; }
@media screen and (max-width: 449px) and (min-width: 0) { .page_boxs { background: url("../img/Oval01.png") left 45% no-repeat, url("../img/Oval02.png") right 70% no-repeat, url("../img/Oval03.png") 3% 110% no-repeat; } }
.page_boxs .page_box { display: inline-block; width: 100%; max-width: 990px; }
@media screen and (max-width: 449px) and (min-width: 0) { .page_boxs .page_box { padding: 15px; } }
.page_boxs .page_box header, .page_boxs .page_box main, .page_boxs .page_box footer { display: inline-block; width: 100%; }
.page_boxs .page_box header { *zoom: 1; margin: 50px 0; }
.page_boxs .page_box header:after { display: table; content: ""; line-height: 0; clear: both; }
@media screen and (max-width: 449px) and (min-width: 0) { .page_boxs .page_box header { margin: 15px 0 30px 0; } }
.page_boxs .page_box header .link_home { display: inline-block; float: left; width: 100%; max-width: 191px; cursor: pointer; text-decoration: none; border: 0; }
.page_boxs .page_box header .link_home img { display: inline-block; width: 100%; max-width: 191px; margin-top: 7px; }
.page_boxs .page_box header nav { display: inline-block; float: right; }
@media screen and (max-width: 449px) and (min-width: 0) { .page_boxs .page_box header nav { display: none; } }
.page_boxs .page_box main .cent_boxs { display: inline-block; width: 100%; background-color: white; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; -moz-box-shadow: 0 1px 4px 0 rgba(0, 35, 11, 0.2); -webkit-box-shadow: 0 1px 4px 0 rgba(0, 35, 11, 0.2); box-shadow: 0 1px 4px 0 rgba(0, 35, 11, 0.2); height: 500px; }
.page_boxs .page_box main .cent_boxs.cent_mobile { display: none; }
@media screen and (max-width: 449px) and (min-width: 0) { .page_boxs .page_box main .cent_boxs.cent_mobile { display: inline-block; margin-bottom: 20px; height: 100px; } }
.page_boxs .page_box footer { *zoom: 1; margin: 20px 0; text-align: left; }
.page_boxs .page_box footer:after { display: table; content: ""; line-height: 0; clear: both; }
@media screen and (max-width: 449px) and (min-width: 0) { .page_boxs .page_box footer { text-align: center; } }
.page_boxs .page_box footer .footer_box { display: inline-block; float: right; }

a { display: inline-block; cursor: pointer; text-decoration: none; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }

.btn_login { padding: 8px 14px; background-color: white; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; color: #2f31e5; font-size: 1rem; font-weight: 500; }
.btn_login:hover { background-color: #2f31e5; color: white; }

.btn_blueLine, .btn_brightBlue { padding: 12px 16px; font-size: 1rem; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; }
.btn_blueLine:after, .btn_brightBlue:after { display: inline-block; content: '\e906'; font-family: 'icon'; font-size: 1rem; margin-left: 3px; }
@media screen and (max-width: 449px) and (min-width: 0) { .btn_blueLine, .btn_brightBlue { width: 90%; text-align: center; padding: 15px 16px; }
  .btn_blueLine:last-child, .btn_brightBlue:last-child { margin-top: 15px; } }

.btn_blueLine { color: #2f31e5; background-color: white; border: 1px solid #2f31e5; }
.btn_blueLine:hover { color: white; background-color: #2f31e5; opacity: .9; }

.btn_brightBlue { color: white; background-color: #2f31e5; border: 1px solid #2f31e5; }
.btn_brightBlue:hover { color: white; background-color: #2f31e5; opacity: .8; }

.web_menu { color: #092058; font-size: 1rem; font-weight: 400; line-height: 37px; }
.web_menu:hover { text-decoration: underline; color: #2f31e5; }
.web_menu:nth-child(3) { margin-right: 25px; }
.web_menu:nth-child(3):after { display: none; }
.web_menu.menu_gray { cursor: auto; color: #a5a5a5; }
.web_menu.menu_gray:hover { text-decoration: none; }
.web_menu:after { display: inline-block; content: '・'; margin: 0 10px; }

.footer_menu { color: #092058; font-size: .9rem; font-weight: 300; }
@media screen and (max-width: 449px) and (min-width: 0) { .footer_menu { display: none; } }
.footer_menu:after { display: inline-block; content: '|'; margin: 0 10px; color: #092058; }
.footer_menu:hover { color: #2f31e5; }
.footer_menu:last-child:after { display: none; }

.order_left { float: left; }

.order_right { float: right; }

h1, h2, h3 { color: white; margin: 5px 0; }

h1, h2 { font-size: 4rem; text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3); text-shadow: 2px 4px 5px 2px rgba(0, 0, 0, 0.3); }
@media screen and (max-width: 449px) and (min-width: 0) { h1, h2 { font-size: 2.8rem; } }

h1 { font-weight: 900; }

h2 { font-weight: 400; margin-top: 25%; }
@media screen and (max-width: 449px) and (min-width: 0) { h2 { margin-top: 10%; } }

h3 { font-size: 1.3rem; font-weight: 300; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); text-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3); }
@media screen and (max-width: 449px) and (min-width: 0) { h3 { font-size: 1.2rem; margin-bottom: 20px; } }

p { display: inline-block; padding: 0; margin: 0; }

.footer_type { color: #092058; font-size: .9rem; font-weight: 300; }

.magTop45 { margin-top: 45px; }
@media screen and (max-width: 449px) and (min-width: 0) { .magTop45 { margin-top: 0; } }

.magRight20 { margin-right: 20px; }
@media screen and (max-width: 449px) and (min-width: 0) { .magRight20 { margin-right: 0; } }
