*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

h1, h2, h3 { color: white; margin: 5px 0; }

h1, h2 { font-size: 4rem; text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3); text-shadow: 2px 4px 5px 2px rgba(0, 0, 0, 0.3); }
@media screen and (max-width: 449px) and (min-width: 0) { h1, h2 { font-size: 2.8rem; } }

h1 { font-weight: 900; }

h2 { font-weight: 400; margin-top: 25%; }
@media screen and (max-width: 449px) and (min-width: 0) { h2 { margin-top: 10%; } }

h3 { font-size: 1.3rem; font-weight: 300; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); text-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3); }
@media screen and (max-width: 449px) and (min-width: 0) { h3 { font-size: 1.2rem; margin-bottom: 20px; } }

p { display: inline-block; padding: 0; margin: 0; }

.footer_type { color: #092058; font-size: .9rem; font-weight: 300; }

.team_type { display: inline-block; width: 100%; color: #092058; font-size: 1.2rem; font-weight: 400; }
@media screen and (max-width: 449px) and (min-width: 0) { .team_type { font-size: 1rem; } }

.bright_type13 { color: #2f31e5; font-size: 1.2rem; font-weight: 500; }

.type_uppercase { text-transform: uppercase; }

input { outline: 0; }

.toEnter { display: inline-block; width: 100%; padding: 8px 15px; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; font-size: 1.2rem; color: #092058; font-weight: 700; text-align: left; }

.inEnter { display: inline-block; width: calc(100% - 50px * 2); padding: 8px 15px 8px 0; border: 0; font-size: 1.2rem; color: #092058; font-weight: 700; text-align: left; }

.addEnter { color: #d2d2d2; font-weight: 400; }

.input_box { display: inline-block; width: 100%; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; margin-bottom: 18px; }

.social_box { display: inline-block; width: 40px; height: 40px; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; line-height: 40px; text-align: center; background-color: #092058; border: 1px solid #092058; margin-right: 15px; color: white; font-size: 1.2rem; }

.borderGray { border: 1px solid rgba(165, 165, 165, 0.5); }

.borderGray_left { border-left: 1px dotted rgba(165, 165, 165, 0.5); }
@media screen and (max-width: 449px) and (min-width: 0) { .borderGray_left { border-left: 0; } }

.borderBlue { border: 1px solid #092058; }

.m_border { display: none; }
@media screen and (max-width: 449px) and (min-width: 0) { .m_border { display: inline-block; width: calc(100% - 20px * 2); height: 1px; border-top: 1px dotted rgba(165, 165, 165, 0.5); margin: 30px 20px; } }
