*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

h1, h2, h3 { color: white; margin: 5px 0; }

h1, h2 { font-size: 4rem; text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3); text-shadow: 2px 4px 5px 2px rgba(0, 0, 0, 0.3); }
@media screen and (max-width: 449px) and (min-width: 0) { h1, h2 { font-size: 2.8rem; } }

h1 { font-weight: 900; }

h2 { font-weight: 400; margin-top: 25%; }
@media screen and (max-width: 449px) and (min-width: 0) { h2 { margin-top: 10%; } }

h3 { font-size: 1.3rem; font-weight: 300; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); text-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3); }
@media screen and (max-width: 449px) and (min-width: 0) { h3 { font-size: 1.2rem; margin-bottom: 20px; } }

p { display: inline-block; padding: 0; margin: 0; }

.icon-chain { transform: rotateY(180deg); }

.footer_type { color: #092058; font-size: .9rem; font-weight: 300; }

.note_type { display: inline-block; color: #092058; font-size: .9rem; }
.note_type.note_gray { color: rgba(165, 165, 165, 0.5); }

.lineHeight45 { line-height: 45px; }

.team_type { display: inline-block; width: 100%; color: #092058; font-size: 1rem; font-weight: 400; }
@media screen and (max-width: 449px) and (min-width: 0) { .team_type { font-size: 1rem; } }
.team_type.team_gray { color: #a5a5a5; }

.link_title { display: inline-block; color: #092058; font-size: 1.2rem; font-weight: 700; padding-bottom: 5px; }
.link_title.link_title_gray { color: rgba(165, 165, 165, 0.5); }
.link_title.link100 { width: 100%; }

.bright_type13 { color: #2f31e5; font-size: 1.2rem; font-weight: 500; }

.type_uppercase { text-transform: uppercase; }

.type_data_title { font-size: 1.4rem; font-weight: 700; color: #2f31e5; }
.type_data_title.type_data_gray { color: rgba(165, 165, 165, 0.5); }
.type_data_title.type_data_thin { font-weight: 400; }

.big_blue_type { font-size: 2.8rem; font-weight: 700; color: #092058; }

.link_code { font-size: 2.8rem; font-weight: 900; color: #858ea6; }

input { outline: 0; background-color: transparent; }

.toEnter { display: inline-block; width: 100%; padding: 8px 15px; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; font-size: 1.2rem; color: #092058; font-weight: 700; text-align: left; overflow: hidden; }
.toEnter.networklink { font-size: 1rem; padding: 12px 0 0 10px; width: calc(100% - 50px); }
@media screen and (max-width: 449px) and (min-width: 0) { .toEnter.networklink { width: calc(100% - 45px); } }
.toEnter.on_net01 { border: 0; }

.inEnter { display: inline-block; width: calc(100% - 50px * 2); padding: 8px 15px 8px 0; border: 0; font-size: 1.2rem; color: #092058; font-weight: 700; text-align: left; overflow: hidden; }
.inEnter.in_all { width: calc(100% - 70px); padding: 0; line-height: 40px; }
@media screen and (max-width: 449px) and (min-width: 0) { .inEnter { font-size: 1rem; line-height: 25px; padding: 7px 0; } }

.addEnter { color: #a5a5a5; font-weight: 400; }
.addEnter.enter_hid { width: calc(100% - 8px); display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden; text-overflow: ellipsis; }
.addEnter.addEnter2 { color: rgba(165, 165, 165, 0.5); pointer-events: none; cursor: default; }

.text_box { display: inline-block; width: 100%; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; border: 1px solid #092058; padding: 10px 15px; font-size: 1.2rem; font-family: 'Roboto'; color: #092058; outline: 0; overflow: auto; resize: none; }
.text_box.text_box_gray { border: 1px solid rgba(165, 165, 165, 0.5); color: #a5a5a5; }

.input_box { display: inline-block; width: 100%; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; margin-bottom: 18px; *zoom: 1; position: relative; }
.input_box:after { display: table; content: ""; line-height: 0; clear: both; }
.input_box.input_box_top15 { margin-top: 15px; margin-bottom: 5px; }
.input_box.input_search { width: calc(100% - 50px); text-align: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .input_box.input_search { float: left; } }
.input_box.input_search90 { width: calc(100% - 90px); text-align: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .input_box.input_search90 { float: left; } }

.social_box { display: inline-block; width: 40px; height: 40px; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; line-height: 40px; text-align: center; background-color: #092058; border: 1px solid #092058; margin-right: 9px; color: white; font-size: 1.2rem; }
.social_box.member_box { background-color: #858ea6; border: 1px solid #858ea6; }
.social_box.serch_box { background-color: transparent; border: 0; color: #2f31e5; }
.social_box.team_box { color: #ff9800; }

.borderGray_TD { border-top: 1px dotted rgba(165, 165, 165, 0.5); border-bottom: 1px dotted rgba(165, 165, 165, 0.5); margin: 20px 0; }

.borderGray_D { border-bottom: 1px dotted rgba(165, 165, 165, 0.5); margin: 0 0 20px 0; }

.borderGray_T { border-top: 1px dotted rgba(165, 165, 165, 0.5); border-bottom: 1px dotted rgba(165, 165, 165, 0.5); margin: 20px 0 0 0; }

.borderGray_left { border-left: 1px dotted rgba(165, 165, 165, 0.5); }
@media screen and (max-width: 449px) and (min-width: 0) { .borderGray_left { border-left: 0; } }

.borderGray_right { border-right: 1px dotted rgba(165, 165, 165, 0.5); }
@media screen and (max-width: 449px) and (min-width: 0) { .borderGray_right { border-right: 0; } }

.borderBrightblue { border: 1px solid #2f31e5; }

.borderBlue { border: 1px solid #092058; }

.borderGray { border: 1px solid rgba(165, 165, 165, 0.5); }

.m_border { display: none; }
@media screen and (max-width: 449px) and (min-width: 0) { .m_border { display: inline-block; width: calc(100% - 20px * 2); height: 1px; border-top: 1px dotted rgba(165, 165, 165, 0.5); margin: 30px 20px; } }

.m_border_all { display: none; }
@media screen and (max-width: 449px) and (min-width: 0) { .m_border_all { display: inline-block; width: 100%; height: 1px; border-top: 1px dotted rgba(165, 165, 165, 0.5); margin: 10px 0; } }

.m_border_all2 { display: none; }
@media screen and (max-width: 449px) and (min-width: 0) { .m_border_all2 { display: inline-block; width: 100%; height: 1px; border-top: 1px dotted rgba(165, 165, 165, 0.5); margin: 15px 0; } }
