@charset "UTF-8";
*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

h1, h2, h3 { color: white; margin: 5px 0; }

h1, h2 { font-size: 4rem; text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3); text-shadow: 2px 4px 5px 2px rgba(0, 0, 0, 0.3); }
@media screen and (max-width: 449px) and (min-width: 0) { h1, h2 { font-size: 2.8rem; } }

h1 { font-weight: 900; }

h2 { font-weight: 400; margin-top: 25%; }
@media screen and (max-width: 449px) and (min-width: 0) { h2 { margin-top: 10%; } }

h3 { font-size: 1.3rem; font-weight: 300; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); text-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3); }
@media screen and (max-width: 449px) and (min-width: 0) { h3 { font-size: 1.2rem; margin-bottom: 20px; } }

p { display: inline-block; padding: 0; margin: 0; }

i { display: inline-block; font-size: .9rem; font-weight: 900; margin: 0 10px; }

.text_left { text-align: left !important; }

.icon-chain { transform: rotateY(180deg); line-height: 43px !important; padding-left: 10px; }

.footer_type { color: #092058; font-size: .9rem; font-weight: 300; }

.note_type { display: inline-block; color: #092058; font-size: .9rem; }
.note_type.note_gray { color: rgba(165, 165, 165, 0.5); }

.lineHeight45 { line-height: 45px; }

.team_type { display: inline-block; width: 100%; color: #092058; font-size: .9rem; font-weight: 400; }
@media screen and (max-width: 449px) and (min-width: 0) { .team_type { font-size: .9rem; } }
.team_type.team_gray { color: #a5a5a5; }

.link_title { display: inline-block; color: #092058; font-size: 1rem; font-weight: 700; padding-bottom: 5px; }
.link_title.link_title_gray { color: rgba(165, 165, 165, 0.5); }
.link_title.link100 { width: 100%; }

.bright_type13 { color: #2f31e5; font-size: 1rem; font-weight: 500; }

.type_uppercase { text-transform: uppercase; }

.type_data_title { font-size: 1.2rem; font-weight: 700; color: #2f31e5; line-height: 35px; }
@media screen and (max-width: 449px) and (min-width: 0) { .type_data_title { line-height: 28px; } }
.type_data_title.type_data_gray { color: rgba(165, 165, 165, 0.5); }
.type_data_title.type_data_thin { font-weight: 400; }

.type_13 { display: inline-block; width: 100%; color: #a5a5a5; font-size: .9rem; padding-bottom: 10px; }

.big_blue_type { font-size: 2.8rem; font-weight: 700; color: #092058; }

.link_code { font-size: 2.8rem; font-weight: 900; color: #858ea6; }

input { outline: 0; background-color: transparent; -webkit-appearance: none; /* Safari 和 Chrome，常用於iOS下移除內建樣式 */ -moz-appearance: none; /* FireFox */ appearance: none; }

.toEnter { display: inline-block; width: 100%; padding: 0 15px; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; line-height: 40px; font-size: .9rem; color: #092058; font-weight: 700; text-align: left; overflow: hidden; }
.toEnter.networklink { font-size: .9rem; padding-left: 20px; width: calc(100% - 50px); }
@media screen and (max-width: 449px) and (min-width: 0) { .toEnter.networklink { width: calc(100% - 45px); } }
.toEnter.on_net01 { border: 0; }

.inEnter { display: inline-block; width: calc(100% - 50px * 2); border: 0; line-height: 40px; font-size: .9rem; color: #092058; font-weight: 700; text-align: left; padding: 1px 2px 1px 50px; overflow: hidden; }
.inEnter.in_LH42 { line-height: 42px !important; }
@media screen and (max-width: 449px) and (min-width: 0) { .inEnter.in_LH42 { line-height: 28px !important; } }
.inEnter.in_all { width: calc(100% - 70px); padding: 1px 2px 1px 50px; line-height: 40px; }
@media screen and (max-width: 449px) and (min-width: 0) { .inEnter.in_all { width: calc(100% - 27px); line-height: 39px; } }
@media screen and (max-width: 449px) and (min-width: 0) { .inEnter { font-size: .9rem; line-height: 25px; padding: 7px 0 7px 50px; width: calc(100% - 27px * 2); } }

.addEnter { color: #a5a5a5; font-weight: 400; margin: 0; }
.addEnter.enter_hid { width: calc(100% - 8px); display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden; text-overflow: ellipsis; }
.addEnter.addEnter2 { color: rgba(165, 165, 165, 0.5); pointer-events: none; cursor: default; }

.text_box { display: inline-block; width: 100%; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; border: 1px solid #092058; padding: 10px 15px; font-size: 1rem; font-family: 'Roboto'; color: #092058; outline: 0; overflow: auto; resize: none; }
.text_box.text_box_gray { border: 1px solid rgba(165, 165, 165, 0.5); color: #a5a5a5; }

.input_box { display: inline-block; width: 100%; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; margin-bottom: 18px; *zoom: 1; position: relative; }
.input_box:after { display: table; content: ""; line-height: 0; clear: both; }
.input_box.input_box_top15 { margin-top: 15px; margin-bottom: 5px; }
.input_box.input_box_TD85 { margin-top: 8px; margin-bottom: 5px; }
.input_box.input_search { width: calc(100% - 50px); text-align: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .input_box.input_search { float: left; } }
.input_box.input_search90 { width: calc(100% - 90px); text-align: left; }
@media screen and (max-width: 449px) and (min-width: 0) { .input_box.input_search90 { float: left; } }
.input_box .tip_box { display: inline-block; position: absolute; top: 0; left: 0; width: 40px; height: 40px; z-index: 888; }
@media screen and (max-width: 449px) and (min-width: 0) { .input_box .tip_box { display: none; } }

.social_box { display: inline-block; width: 44px; height: 44px; -moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px; line-height: 43px; text-align: center; background-color: #092058; border: 1px solid #092058; margin-right: 9px; margin-top: -1px; margin-left: -1px; color: white; font-size: 1.2rem; z-index: 888; position: absolute; top: 0; left: 0; }
@media screen and (max-width: 449px) and (min-width: 0) { .social_box { width: 42px; height: 42px; line-height: 39px; } }
.social_box.social_box2 { background-color: #2f31e5; border: 1px solid #2f31e5; }
.social_box.member_box { background-color: #858ea6; border: 1px solid #858ea6; }
.social_box.serch_box { background-color: transparent; border: 0; color: #2f31e5; line-height: 45px; }
@media screen and (max-width: 449px) and (min-width: 0) { .social_box.serch_box { width: 42px; height: 42px; line-height: 39px; } }
.social_box.team_box { color: #ff9800; }

.icon-Address-Card---FontAwesomeCopy-3 { font-size: 1rem !important; padding-right: 10px; }

.icon-save { font-size: 1rem !important; }

.dark_check { display: inline-block; margin: 0 10px 0 0; }

.borderGray_TD { border-top: 1px dotted rgba(165, 165, 165, 0.5); border-bottom: 1px dotted rgba(165, 165, 165, 0.5); margin: 20px 0; }

.borderGray_D { border-bottom: 1px dotted rgba(165, 165, 165, 0.5); margin: 0 0 20px 0; }

.borderGray_T { border-top: 1px dotted rgba(165, 165, 165, 0.5); border-bottom: 1px dotted rgba(165, 165, 165, 0.5); margin: 20px 0 0 0; }

.borderGray_left { border-left: 1px dotted rgba(165, 165, 165, 0.5); }
@media screen and (max-width: 449px) and (min-width: 0) { .borderGray_left { border-left: 0; } }

.borderGray_right { border-right: 1px dotted rgba(165, 165, 165, 0.5); }
@media screen and (max-width: 449px) and (min-width: 0) { .borderGray_right { border-right: 0; } }

.borderBrightblue { border: 1px solid #2f31e5; }

.borderBlue { border: 1px solid #092058; }

.borderGray { border: 1px solid rgba(165, 165, 165, 0.5); }

.m_border { display: none; }
@media screen and (max-width: 449px) and (min-width: 0) { .m_border { display: inline-block; width: calc(100% - 20px * 2); height: 1px; border-top: 1px dotted rgba(165, 165, 165, 0.5); margin: 30px 20px; } }

.m_border_all { display: none; }
@media screen and (max-width: 449px) and (min-width: 0) { .m_border_all { display: inline-block; width: 100%; height: 1px; border-top: 1px dotted rgba(165, 165, 165, 0.5); margin: 10px 0; } }

.m_border_all2 { display: none; }
@media screen and (max-width: 449px) and (min-width: 0) { .m_border_all2 { display: inline-block; width: 100%; height: 1px; border-top: 1px dotted rgba(165, 165, 165, 0.5); margin: 15px 0; } }
