@import "Ginkgo";


// 顏色
$deep_blue: rgba(9, 32, 88, 1); // 主色・深藍
$deep_blue2: rgba(9, 32, 88, .8); // 主色・深藍(透明)
$deep_blue3: rgba(133, 142, 166, 1.00); // 主色・深藍(透明1/2)
$bright_blue: rgba(47, 49, 229, 1); // 主色・亮藍
$gray: rgba(165, 165, 165, 1.00); // 主色・輔助灰
$gray2: rgba(165, 165, 165, .5); // 主色・輔助灰(透明)
$green: rgba(109, 181, 58, 1.00); // 輔助色・綠色
$gray_blue: rgba(131, 143, 171, 1.00); // 輔助色・灰藍色
$light_blue: rgba(0, 149, 217, 1.00); // 輔助色・淺藍色



// 文字
h1, h2, h3 {
  color: white;
  margin: 5px 0;
}

h1, h2 {
  font-size: 4rem;
  @include text-shadow(2px 4px 5px 2px rgba(0, 0, 0, .3));

  @include range-width(0, 450px) {
    font-size: 2.8rem;
  }
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 400;
  margin-top: 25%;

  @include range-width(0, 450px) {
    margin-top: 10%;
  }
}

h3 {
  font-size: 1.3rem;
  font-weight: 300;
  @include text-shadow(2px 2px 4px 2px rgba(0, 0, 0, .3));

  @include range-width(0, 450px) {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
}

p {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.icon-chain {
   transform: rotateY(180deg);
}

.footer_type {
  color: $deep_blue;
  font-size: .9rem;
  font-weight: 300;
}

.note_type {
  display: inline-block;
  color: $deep_blue;
  font-size: 1rem;

  @include range-width(0, 450px) {
    font-size: .9rem;
  }
}

.lineHeight45 {
  line-height: 45px;
}

.team_type {
  display: inline-block;
  width: 100%;
  color: $deep_blue;
  font-size: 1.2rem;
  font-weight: 400;

  @include range-width(0, 450px) {
    font-size: 1rem;
  }
}

.bright_type13 {
  color: $bright_blue;
  font-size: 1.2rem;
  font-weight: 500;
}

.type_uppercase {
  text-transform: uppercase;
}

.type_data_title {
  font-size: 1.4rem;
  font-weight: 700;
  color: $bright_blue;
}



// 輸入框相關
input {
  outline: 0;
  background-color: transparent;
}

.toEnter {
  display: inline-block;
  width: 100%;
  padding: 8px 15px;
  @include border-radius(30px);

  font-size: 1.2rem;
  color: $deep_blue;
  font-weight: 700;
  text-align: left;

  overflow: hidden;
}

.inEnter {
  display: inline-block;
  width: calc(100% - 50px * 2);
  padding: 8px 15px 8px 0;
  border: 0;

  font-size: 1.2rem;
  color: $deep_blue;
  font-weight: 700;
  text-align: left;

  overflow: hidden;

  &.in_all {
    width: calc(100% - 70px);
    padding: 0;
    line-height: 40px;
  }
}

.addEnter {
  color: rgba(210, 210, 210, 1.00);
  font-weight: 400;
}

.input_box {
  display: inline-block;
  width: 100%;
  @include border-radius(30px);
  margin-bottom: 18px;

  &.input_box_top15 {
    margin-top: 15px;
    margin-bottom: 5px;
  }
}
.social_box {
  display: inline-block;
  width: 40px;
  height: 40px;
  @include border-radius(20px);
  line-height: 40px;
  text-align: center;
  background-color: $deep_blue;
  border: 1px solid $deep_blue;
  margin-right: 9px;
  
  color: white;
  font-size: 1.2rem;

  &.member_box {
    background-color: $deep_blue3;
    border: 1px solid $deep_blue3;
  }

  &.serch_box {
    background-color: transparent;
    border: 0;
    color: $bright_blue;
  }
}




// 線條
.borderGray_TD {
  border-top: 1px dotted $gray2;
  border-bottom: 1px dotted $gray2;
  margin: 20px 0;
}

.borderGray_D {
  border-bottom: 1px dotted $gray2;
  margin: 0 0 20px 0;
}
.borderGray_T {
  border-top: 1px dotted $gray2;
  border-bottom: 1px dotted $gray2;
  margin: 20px 0 0 0;
}

.borderGray_left {
  border-left: 1px dotted $gray2;

  @include range-width(0, 450px) {
    border-left: 0
  }
}

.borderGray_right {
  border-right: 1px dotted $gray2;

  @include range-width(0, 450px) {
    border-right: 0
  }
}

.borderBrightblue {
  border: 1px solid $bright_blue;
}
.borderBlue {
  border: 1px solid $deep_blue;
}
.borderGray {
  border: 1px solid $gray2;
}

.m_border {
  display: none;

  @include range-width(0, 450px) {
    display: inline-block;
    width: calc(100% - 20px * 2);
    height: 1px;
    border-top: 1px dotted rgba(165, 165, 165, .5); 
    margin: 30px 20px;
  }
}
.m_border_all {
  display: none;

  @include range-width(0, 450px) {
    display: inline-block;
    width: 100%;
    height: 1px;
    border-top: 1px dotted rgba(165, 165, 165, .5); 
    margin: 10px 0;
  }
}




