@import "Ginkgo";


// 顏色
$deep_blue: rgba(9, 32, 88, 1); // 主色・深藍
$deep_blue2: rgba(9, 32, 88, .8); // 主色・深藍(透明)
$deep_blue3: rgba(133, 142, 166, 1.00); // 主色・深藍(透明1/2)
$bright_blue: rgba(47, 49, 229, 1); // 主色・亮藍
$gray: rgba(165, 165, 165, 1.00); // 主色・輔助灰
$gray2: rgba(165, 165, 165, .5); // 主色・輔助灰(透明)
$green: rgba(109, 181, 58, 1.00); // 輔助色・綠色
$gray_blue: rgba(131, 143, 171, 1.00); // 輔助色・灰藍色
$light_blue: rgba(0, 149, 217, 1.00); // 輔助色・淺藍色
$orange: rgba(255, 152, 0, 1.00); // 輔助色・橘色



// 文字
h1, h2, h3 {
  color: white;
  margin: 5px 0;
}

h1, h2 {
  font-size: 4rem;
  @include text-shadow(2px 4px 5px 2px rgba(0, 0, 0, .3));

  @include range-width(0, 450px) {
    font-size: 2.8rem;
  }
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 400;
  margin-top: 25%;

  @include range-width(0, 450px) {
    margin-top: 10%;
  }
}

h3 {
  font-size: 1.3rem;
  font-weight: 300;
  @include text-shadow(2px 2px 4px 2px rgba(0, 0, 0, .3));

  @include range-width(0, 450px) {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
}

p {
  display: inline-block;
  padding: 0;
  margin: 0;
}

i {
  display: inline-block;
  font-size: .9rem;
  font-weight: 900;
  margin: 0 10px;
}

.text_left {
  text-align: left !important;
}

.icon-chain {
   transform: rotateY(180deg);
   line-height: 43px !important;
   padding-left: 10px;
}

.footer_type {
  color: $deep_blue;
  font-size: .9rem;
  font-weight: 300;
}

.note_type {
  display: inline-block;
  color: $deep_blue;
  font-size: .9rem;

  &.note_gray {
    color: $gray2;
  }
}

.lineHeight45 {
  line-height: 45px;
}

.team_type {
  display: inline-block;
  width: 100%;
  color: $deep_blue;
  font-size: .9rem;
  font-weight: 400;

  @include range-width(0, 450px) {
    font-size: .9rem;
  }

  &.team_gray {
    color: $gray;
  }
}

.link_title {
  display: inline-block;
  // width: 100%;
  color: $deep_blue;
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 5px;

  &.link_title_gray {
    color: $gray2;
  }

  &.link100 {
    width: 100%;
  }
}

.bright_type13 {
  color: $bright_blue;
  font-size: 1rem;
  font-weight: 500;
}

.type_uppercase {
  text-transform: uppercase;
}

.type_data_title {
  font-size: 1.2rem;
  font-weight: 700;
  color: $bright_blue;
  line-height: 35px;

  @include range-width(0, 450px) {
    line-height: 28px;
  }

  &.type_data_gray {
    color: $gray2;
  }

  &.type_data_thin {
    font-weight: 400;
  }
}

.type_13 {
  display: inline-block;
  width: 100%;
  color: $gray;
  font-size: .9rem;
  padding-bottom: 10px;
}

.big_blue_type {
  font-size: 2.8rem;
  font-weight: 700;
  color: $deep_blue;
}


.link_code {
  font-size: 2.8rem;
  font-weight: 900;
  color: $deep_blue3;
}


// 輸入框相關
input {
  outline: 0;
  background-color: transparent;
  -webkit-appearance: none;  /* Safari 和 Chrome，常用於iOS下移除內建樣式 */
  -moz-appearance: none;     /* FireFox */
  appearance: none;
}

input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;

  &:hover, &:focus, &:active {
    transition: background-color 5000s ease-in-out 0s;
  }
}

.toEnter {
  display: inline-block;
  width: 100%;
  padding: 0 15px;
  @include border-radius(30px);

  line-height: 40px;

  font-size: .9rem;
  color: $deep_blue;
  font-weight: 700;
  text-align: left;

  overflow: hidden;


  &.networklink {
    font-size: .9rem;
    padding-left: 20px;
    width: calc(100% - 50px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    // line-height: 42px;

    @include range-width(0, 450px) {
      width: calc(100% - 50px);
    }
  }

  &.on_net01 {
    border: 0;
  }
}

.inEnter {
  display: inline-block;
  // width: calc(100% - 50px);
  width: calc(100% - 50px * 2);
  // padding: 8px 15px 8px 0;
  border: 0;

  // display: flex;
  line-height: 40px;

  font-size: .9rem;
  color: $deep_blue;
  font-weight: 700;
  text-align: left;
  padding: 1px 2px 1px 50px;
  overflow: hidden;
  margin: 0;

  &.s-bar-n {
    line-height: 35px !important;

    @include range-width(0, 450px) {
      line-height: 20px !important;
    }
  }

  &.in_LH42 {
    // font-size: .9rem;
    line-height: 42px !important;

    @include range-width(0, 450px) {
      line-height: 28px !important;
    }
  }

  &.in_all {
    width: calc(100% - 70px);
    padding: 1px 2px 1px 50px;
    line-height: 40px;

    @include range-width(0, 450px) {
      width: calc(100% - 27px);
      line-height: 39px;
    }
  }

  @include range-width(0, 450px) {
    font-size: .9rem;
    line-height: 25px;
    padding: 7px 0 7px 50px;
    width: calc(100% - 27px * 2);
  }
}

.addEnter {
  color: $gray;
  font-weight: 400;
  margin: 0;
  // line-height: 40px;

  @include range-width(0, 450px) {
    // line-height: 24px;
    // padding: 7px 10px;
  }

  &.enter_hid {
    width: calc(100% - 8px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.addEnter2 {
    color: $gray2;
    pointer-events: none;
    cursor: default;
  }
}

.text_box {
  display: inline-block;
  width: 100%;
  @include border-radius(10px);
  border: 1px solid $deep_blue;
  padding: 10px 15px;
  font-size: 1rem;
  font-family: 'Roboto';
  color: $deep_blue;
  outline: 0;
  overflow:auto;
  resize:none;

  &.text_box_gray {
    border: 1px solid $gray2;
    color: $gray;
  }
}

.input_box {
  display: inline-block;
  width: 100%;
  @include border-radius(30px);
  margin-bottom: 18px;
  @include clearfix();

  position: relative;

  &.input_box_top15 {
    margin-top: 15px;
    margin-bottom: 5px;
  }

  &.input_box_TD85 {
    margin-top: 8px;
    margin-bottom: 5px;
  }

  &.input_search {
    width: calc(100% - 50px);
    text-align: left;

    @include range-width(0, 450px) {
      float: left;
    }
  }

  &.input_search90 {
    width: calc(100% - 90px);
    text-align: left;

    @include range-width(0, 450px) {
      float: left;
    }
  }

  .tip_box {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    z-index: 888;

    @include range-width(0, 450px) {
      display: none;
    }
  }
}
.social_box {
  display: inline-block;
  width: 44px;
  height: 44px;
  @include border-radius(25px);
  line-height: 43px;
  text-align: center;
  background-color: $deep_blue;
  border: 1px solid $deep_blue;
  margin-right: 9px;
  margin-top: -1px;
  margin-left: -1px;
  
  color: white;
  font-size: 1.2rem;

  z-index: 888;
  position: absolute;
  top: 0;
  left: 0;

  @include range-width(0, 450px) {
    width: 42px;
    height: 42px;
    line-height: 39px;
  }

  &.social_box2 {
    background-color: $bright_blue;
    border: 1px solid $bright_blue;
  }

  &.member_box {
    background-color: $deep_blue3;
    border: 1px solid $deep_blue3;
  }

  &.serch_box {
    background-color: transparent;
    border: 0;
    color: $bright_blue;
    line-height: 45px;

    @include range-width(0, 450px) {
      width: 42px;
      height: 35px;
      line-height: 35px;
    }

    &.s-btn-n {
      line-height: 40px !important;
      @include range-width(0, 450px) {
        line-height: 35px !important;
      }
    }
  }

  &.team_box {
    color: $orange;
  }
}

.icon-Address-Card---FontAwesomeCopy-3 {
  font-size: 1rem !important;
  padding-right: 10px;
}
.icon-save {
  font-size: 1rem !important;
}

.dark_check {
  display: inline-block;
  margin: 0 10px 0 0;
}


// 線條
.borderGray_TD {
  border-top: 1px dotted $gray2;
  border-bottom: 1px dotted $gray2;
  margin: 20px 0;
}

.borderGray_D {
  border-bottom: 1px dotted $gray2;
  margin: 0 0 20px 0;
}
.borderGray_T {
  border-top: 1px dotted $gray2;
  border-bottom: 1px dotted $gray2;
  margin: 20px 0 0 0;
}

.borderGray_left {
  border-left: 1px dotted $gray2;

  @include range-width(0, 450px) {
    border-left: 0
  }
}

.borderGray_right {
  border-right: 1px dotted $gray2;

  @include range-width(0, 450px) {
    border-right: 0
  }
}

.borderBrightblue {
  border: 1px solid $bright_blue;
}
.borderBlue {
  border: 1px solid $deep_blue;
}
.borderGray {
  border: 1px solid $gray2;
}

.m_border {
  display: none;

  @include range-width(0, 450px) {
    display: inline-block;
    width: calc(100% - 20px * 2);
    // width: 100%;
    height: 1px;
    border-top: 1px dotted rgba(165, 165, 165, .5); 
    margin: 30px 0;
  }
}
.m_border_all {
  display: none;

  @include range-width(0, 450px) {
    display: inline-block;
    width: 100%;
    height: 1px;
    border-top: 1px dotted rgba(165, 165, 165, .5); 
    margin: 10px 0;
  }
}

.m_border_all2 {
  display: none;

  @include range-width(0, 450px) {
    display: inline-block;
    width: 100%;
    height: 1px;
    border-top: 1px dotted rgba(165, 165, 165, .5); 
    margin: 15px 0;
  }
}




